$menu_color: #B2D235;
$button_start_color: #B2D235;
$main_footer_color: #FFFFFF;
$card_text_color: #505353;
$banner_second_color: #90AB26;
$title_color: #11114E;
$red_color: #DC594C;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "UTM BryantLG";
}

@font-face {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-weight: normal;
  src: url("../font/UTMBryantLG.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../font/OpenSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  float: left;
}

a {
  text-decoration: none;
}

@mixin font($font-weight, $font-size, $font-family, $line-height, $color) {
  font: $font-weight $font-size $font-family;
  line-height: $line-height;
  color: $color;
}
